<h1>Listing itempedidos</h1>

<table>
  <thead>
    <tr>
      <th>Subtotal</th>
      <th>Pedido</th>
      <th>Produto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @itempedidos.each do |itempedido| %>
      <tr>
        <td><%= itempedido.subtotal %></td>
        <td><%= itempedido.pedido %></td>
        <td><%= itempedido.produto %></td>
        <td><%= link_to 'Show', itempedido %></td>
        <td><%= link_to 'Edit', edit_itempedido_path(itempedido) %></td>
        <td><%= link_to 'Excluir', itempedido, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itempedido', new_itempedido_path %>
