<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @pedido.dataPedido %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @pedido.situacaoPedido %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente.nomeCliente %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
